.stats {
  background-color: #fff;
  padding: 25px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plan-image {
  justify-content: left;
  /* align-items: flex-start; */
  padding: 15px 8px 5px 10px;
  height: 50px;
  margin-left: -280px;
}

.pricing-line {
  padding: 10px 2px;
}
.text-checked {
  text-decoration: line-through;
  padding: 7px 10px;
  font-size: small;
}
.desktop-mobile-diamond {
  width: 100% !important;
  padding: 8px 0px;
  background-color: rgba(251, 197, 139, 0.7);
}
.desktop-mobile-silver {
  width: 100% !important;
  padding: 8px 0px;
  background-color: rgb(217, 231, 248);
}
